<div
  class="not-found text-center flex flex-col items-center justify-center gap-6 max-w-xl mx-auto container"
>
  <h1 class="text-9xl w-full text-red-800">404</h1>
  <span class="shadow w-43.75 bg-red-800 h-2.5 blur-xl translate-x-2 -translate-y-6.25"></span>

  <!--
  
  width: 175px;
    background-color: red;
    height: 10px;
    filter: blur(10px);
    transform: translate(8px, -25px);
  
  -->
  <h2 class="text-3xl text-red-700">Page not found</h2>

  <p class="p-3">
    Oops! Looks like this page doesn’t exist anymore. You might have followed a broken link or typed
    the address wrong.
  </p>

  <div class="actions flex items-center gap-4 flex-col">
    <a routerLink="/home" class="btn btn-primary rounded-4xl cursor-pointer"> Go to Home </a>

    <a routerLink="/products" class="btn btn-outline rounded-4xl cursor-pointer">
      Browse Products
    </a>
  </div>
</div>
