@if (userToken() !== null) {
  <div class="min-h-[80vh] flex items-center justify-center px-4">
    <div class="w-full max-w-md bg-white border border-gray-200 rounded-2xl shadow-lg p-8">
      <h2 class="text-3xl font-bold text-gray-800 text-center mb-2">Update Password</h2>
      <p class="text-gray-500 text-center mb-6">Change your current password</p>

      <form class="space-y-5" [formGroup]="updatePasswordForm" (submit)="onSubmit()">
        <div class="col-span-1">
          <label
            for="current password"
            class="block text-xs font-bold text-slate-700 uppercase tracking-wider mb-1"
            >Password</label
          >
          <input
            id="currentPassword"
            name="currentPassword"
            type="password"
            placeholder="current password"
            required
            formControlName="currentPassword"
            class="w-full px-4 py-3 bg-slate-50 border border-slate-200 rounded-xl focus:ring-2 focus:ring-indigo-500 focus:border-transparent outline-none transition-all"
          />

          @if (
            updatePasswordForm.get('currentPassword')?.touched &&
            updatePasswordForm.get('currentPassword')?.errors?.['required']
          ) {
            <div
              class="flex items-start sm:items-center px-4 mb-0.5 text-sm mt-1.5 text-fg-danger-strong rounded-base"
              role="alert"
            >
              <svg
                class="w-4 h-4 me-2 shrink-0 mt-0.5 sm:mt-0"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                fill="none"
                viewBox="0 0 24 24"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M10 11h2v5m-2 0h4m-2.592-8.5h.01M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
                />
              </svg>
              <p>Your password is required.</p>
            </div>
          } @else if (
            updatePasswordForm.get('currentPassword')?.touched &&
            updatePasswordForm.get('currentPassword')?.errors?.['pattern']
          ) {
            <div
              class="flex items-start sm:items-center px-4 mb-0.5 text-sm mt-1.5 text-fg-danger-strong rounded-base"
              role="alert"
            >
              <svg
                class="w-4 h-4 me-2 shrink-0 mt-0.5 sm:mt-0"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                fill="none"
                viewBox="0 0 24 24"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M10 11h2v5m-2 0h4m-2.592-8.5h.01M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
                />
              </svg>
              <p>
                Your password is not valid.Must be at least 8 characters with uppercase with first
                letter, lowercase and number.
              </p>
            </div>
          } @else if (
            updatePasswordForm.get('currentPassword')?.touched &&
            updatePasswordForm.get('currentPassword')?.errors?.['minlength']
          ) {
            <div
              class="flex items-start sm:items-center px-4 mb-0.5 text-sm mt-1.5 text-fg-danger-strong rounded-base"
              role="alert"
            >
              <svg
                class="w-4 h-4 me-2 shrink-0 mt-0.5 sm:mt-0"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                fill="none"
                viewBox="0 0 24 24"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M10 11h2v5m-2 0h4m-2.592-8.5h.01M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
                />
              </svg>
              <p>Your password is too short.Must have at least 8 characters.</p>
            </div>
          }
        </div>

        <div class="col-span-1">
          <label
            for="password"
            class="block text-xs font-bold text-slate-700 uppercase tracking-wider mb-1"
            >Password</label
          >
          <input
            id="password"
            #password
            name="password"
            type="password"
            placeholder="password"
            required
            formControlName="password"
            class="w-full px-4 py-3 bg-slate-50 border border-slate-200 rounded-xl focus:ring-2 focus:ring-indigo-500 focus:border-transparent outline-none transition-all"
          />

          @if (
            updatePasswordForm.get('password')?.touched &&
            updatePasswordForm.get('password')?.errors?.['required']
          ) {
            <div
              class="flex items-start sm:items-center px-4 mb-0.5 text-sm mt-1.5 text-fg-danger-strong rounded-base"
              role="alert"
            >
              <svg
                class="w-4 h-4 me-2 shrink-0 mt-0.5 sm:mt-0"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                fill="none"
                viewBox="0 0 24 24"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M10 11h2v5m-2 0h4m-2.592-8.5h.01M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
                />
              </svg>
              <p>Your password is required.</p>
            </div>
          } @else if (
            updatePasswordForm.get('password')?.touched &&
            updatePasswordForm.get('password')?.errors?.['pattern']
          ) {
            <div
              class="flex items-start sm:items-center px-4 mb-0.5 text-sm mt-1.5 text-fg-danger-strong rounded-base"
              role="alert"
            >
              <svg
                class="w-4 h-4 me-2 shrink-0 mt-0.5 sm:mt-0"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                fill="none"
                viewBox="0 0 24 24"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M10 11h2v5m-2 0h4m-2.592-8.5h.01M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
                />
              </svg>
              <p>
                Your password is not valid.Must be at least 8 characters with uppercase with first
                letter, lowercase and number.
              </p>
            </div>
          } @else if (
            updatePasswordForm.get('password')?.touched &&
            updatePasswordForm.get('password')?.errors?.['minlength']
          ) {
            <div
              class="flex items-start sm:items-center px-4 mb-0.5 text-sm mt-1.5 text-fg-danger-strong rounded-base"
              role="alert"
            >
              <svg
                class="w-4 h-4 me-2 shrink-0 mt-0.5 sm:mt-0"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                fill="none"
                viewBox="0 0 24 24"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M10 11h2v5m-2 0h4m-2.592-8.5h.01M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
                />
              </svg>
              <p>Your password is too short.Must have at least 8 characters.</p>
            </div>
          }
        </div>

        <div class="col-span-1">
          <label
            for="rePassword"
            class="block text-xs font-bold text-slate-700 uppercase tracking-wider mb-1"
            >Confirm Password</label
          >
          <input
            id="rePassword"
            #rePassword
            name="rePassword"
            type="password"
            placeholder="confirm your password"
            required
            formControlName="rePassword"
            class="w-full px-4 py-3 bg-slate-50 border border-slate-200 rounded-xl focus:ring-2 focus:ring-indigo-500 focus:border-transparent outline-none transition-all"
          />
          @if (
            updatePasswordForm.get('rePassword')?.touched &&
            updatePasswordForm.get('rePassword')?.errors?.['required']
          ) {
            <div
              class="flex items-start sm:items-center px-4 mb-0.5 text-sm mt-1.5 text-fg-danger-strong rounded-base"
              role="alert"
            >
              <svg
                class="w-4 h-4 me-2 shrink-0 mt-0.5 sm:mt-0"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                fill="none"
                viewBox="0 0 24 24"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M10 11h2v5m-2 0h4m-2.592-8.5h.01M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
                />
              </svg>
              <p>Your password is required.</p>
            </div>
          } @else if (
            updatePasswordForm.get('rePassword')?.touched && updatePasswordForm.errors?.['mismatch']
          ) {
            <div
              class="flex items-start sm:items-center px-4 mb-0.5 text-sm mt-1.5 text-fg-danger-strong rounded-base"
              role="alert"
            >
              <svg
                class="w-4 h-4 me-2 shrink-0 mt-0.5 sm:mt-0"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                fill="none"
                viewBox="0 0 24 24"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M10 11h2v5m-2 0h4m-2.592-8.5h.01M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
                />
              </svg>
              <p>Password and Confirm Password do not match.</p>
            </div>
          }
        </div>

        <div class="showPassword">
          <input type="checkbox" id="showPassword" (click)="togglePasswordVisibility($event)" />
          <label class="text-sm text-slate-600 ms-2" for="showPassword">Show Password</label>
        </div>

        <button
          type="submit"
          class="w-full py-3 rounded-xl bg-blue-600 text-white font-semibold hover:bg-blue-700 transition-all duration-300 cursor-pointer disabled:opacity-50 disabled:cursor-not-allowed"
          [disabled]="updatePasswordForm.invalid || isLoading()"
          (click)="onSubmit()"
        >
          @if (isLoading()) {
            <i class="fa-solid fa-spinner fa-spin-pulse"></i> Updating...
          } @else {
            Update Password
          }
        </button>
      </form>
    </div>
  </div>
} @else {
  <div class="text-center">
    <p>You are not user in this app. please login to continue.</p>
  </div>
}
