.custom-landing{
  background-image: url("../../../../../../public/assests/landing-bg.avif");
  min-height: 70vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
